body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    width: 280px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    width: 100%;
    padding: 5px;
    text-align: center;
}

button {
    cursor: pointer;
    background: #0073b1;
    color: white;
    border: none;
    padding: 5px;
}
